<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>.null</string>
      <string>nonmarkingreturn</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>uni0964</string>
      <string>uni0965</string>
      <string>uni0981</string>
      <string>uni0982</string>
      <string>uni0983</string>
      <string>uni0985</string>
      <string>uni0986</string>
      <string>uni0987</string>
      <string>uni0988</string>
      <string>uni0989</string>
      <string>uni098A</string>
      <string>uni098B</string>
      <string>uni098C</string>
      <string>uni098F</string>
      <string>uni0990</string>
      <string>uni0993</string>
      <string>uni0994</string>
      <string>uni0995</string>
      <string>uni0996</string>
      <string>uni0997</string>
      <string>uni0998</string>
      <string>uni0999</string>
      <string>uni099A</string>
      <string>uni099B</string>
      <string>uni099C</string>
      <string>uni099D</string>
      <string>uni099E</string>
      <string>uni099F</string>
      <string>uni09A0</string>
      <string>uni09A1</string>
      <string>uni09A2</string>
      <string>uni09A3</string>
      <string>uni09A4</string>
      <string>uni09A5</string>
      <string>uni09A6</string>
      <string>uni09A7</string>
      <string>uni09A8</string>
      <string>uni09AA</string>
      <string>uni09AB</string>
      <string>uni09AC</string>
      <string>uni09AD</string>
      <string>uni09AE</string>
      <string>uni09AF</string>
      <string>uni09B0</string>
      <string>uni09B2</string>
      <string>uni09B6</string>
      <string>uni09B7</string>
      <string>uni09B8</string>
      <string>uni09B9</string>
      <string>uni09BC</string>
      <string>uni09BD</string>
      <string>uni09BE</string>
      <string>uni09BF</string>
      <string>uni09C0</string>
      <string>uni09C1</string>
      <string>uni09C2</string>
      <string>uni09C3</string>
      <string>uni09C4</string>
      <string>uni09C7</string>
      <string>uni09C8</string>
      <string>uni09CB</string>
      <string>uni09CC</string>
      <string>uni09CD</string>
      <string>uni09CE</string>
      <string>uni09D7</string>
      <string>uni09DC</string>
      <string>uni09DD</string>
      <string>uni09DF</string>
      <string>uni09E6</string>
      <string>uni09E7</string>
      <string>uni09E8</string>
      <string>uni09E9</string>
      <string>uni09EA</string>
      <string>uni09EB</string>
      <string>uni09EC</string>
      <string>uni09ED</string>
      <string>uni09EE</string>
      <string>uni09EF</string>
      <string>uni09F0</string>
      <string>uni09F1</string>
      <string>NameMe.127</string>
      <string>A.0</string>
      <string>A.1</string>
      <string>A.2</string>
      <string>B.0</string>
      <string>B.1</string>
      <string>B.2</string>
      <string>C.0</string>
      <string>C.1</string>
      <string>C.2</string>
      <string>D.0</string>
      <string>D.1</string>
      <string>D.2</string>
      <string>E.0</string>
      <string>E.1</string>
      <string>E.2</string>
      <string>F.0</string>
      <string>F.1</string>
      <string>F.2</string>
      <string>G.0</string>
      <string>G.1</string>
      <string>G.2</string>
      <string>H.0</string>
      <string>H.1</string>
      <string>H.2</string>
      <string>I.0</string>
      <string>I.1</string>
      <string>I.2</string>
      <string>J.0</string>
      <string>J.1</string>
      <string>J.2</string>
      <string>K.0</string>
      <string>K.1</string>
      <string>K.2</string>
      <string>L.0</string>
      <string>L.1</string>
      <string>L.2</string>
      <string>M.0</string>
      <string>M.1</string>
      <string>M.2</string>
      <string>N.0</string>
      <string>N.1</string>
      <string>N.2</string>
      <string>O.0</string>
      <string>O.1</string>
      <string>O.2</string>
      <string>P.0</string>
      <string>P.1</string>
      <string>P.2</string>
      <string>Q.0</string>
      <string>Q.1</string>
      <string>Q.2</string>
      <string>R.0</string>
      <string>R.1</string>
      <string>R.2</string>
      <string>S.0</string>
      <string>S.1</string>
      <string>S.2</string>
      <string>T.0</string>
      <string>T.1</string>
      <string>T.2</string>
      <string>U.0</string>
      <string>U.1</string>
      <string>U.2</string>
      <string>V.0</string>
      <string>V.1</string>
      <string>V.2</string>
      <string>W.0</string>
      <string>W.1</string>
      <string>W.2</string>
      <string>X.0</string>
      <string>X.1</string>
      <string>X.2</string>
      <string>Y.0</string>
      <string>Y.1</string>
      <string>Y.2</string>
      <string>Z.0</string>
      <string>Z.1</string>
      <string>Z.2</string>
      <string>a.0</string>
      <string>a.1</string>
      <string>a.2</string>
      <string>ampersand.0</string>
      <string>ampersand.1</string>
      <string>ampersand.2</string>
      <string>asciicircum.0</string>
      <string>asciicircum.1</string>
      <string>asciicircum.2</string>
      <string>asciitilde.0</string>
      <string>asciitilde.1</string>
      <string>asciitilde.2</string>
      <string>asterisk.0</string>
      <string>asterisk.1</string>
      <string>asterisk.2</string>
      <string>at.0</string>
      <string>at.1</string>
      <string>at.2</string>
      <string>b.0</string>
      <string>b.1</string>
      <string>b.2</string>
      <string>backslash.0</string>
      <string>backslash.1</string>
      <string>backslash.2</string>
      <string>bar.0</string>
      <string>bar.1</string>
      <string>bar.2</string>
      <string>braceleft.0</string>
      <string>braceleft.1</string>
      <string>braceleft.2</string>
      <string>braceright.0</string>
      <string>braceright.1</string>
      <string>braceright.2</string>
      <string>bracketleft.0</string>
      <string>bracketleft.1</string>
      <string>bracketleft.2</string>
      <string>bracketright.0</string>
      <string>bracketright.1</string>
      <string>bracketright.2</string>
      <string>c.0</string>
      <string>c.1</string>
      <string>c.2</string>
      <string>colon.0</string>
      <string>colon.1</string>
      <string>colon.2</string>
      <string>comma.0</string>
      <string>comma.1</string>
      <string>comma.2</string>
      <string>d.0</string>
      <string>d.1</string>
      <string>d.2</string>
      <string>dollar.0</string>
      <string>dollar.1</string>
      <string>dollar.2</string>
      <string>e.0</string>
      <string>e.1</string>
      <string>e.2</string>
      <string>eight.0</string>
      <string>eight.1</string>
      <string>eight.2</string>
      <string>equal.0</string>
      <string>equal.1</string>
      <string>equal.2</string>
      <string>exclam.0</string>
      <string>exclam.1</string>
      <string>exclam.2</string>
      <string>f.0</string>
      <string>f.1</string>
      <string>f.2</string>
      <string>five.0</string>
      <string>five.1</string>
      <string>five.2</string>
      <string>four.0</string>
      <string>four.1</string>
      <string>four.2</string>
      <string>g.0</string>
      <string>g.1</string>
      <string>g.2</string>
      <string>grave.0</string>
      <string>grave.1</string>
      <string>grave.2</string>
      <string>greater.0</string>
      <string>greater.1</string>
      <string>greater.2</string>
      <string>h.0</string>
      <string>h.1</string>
      <string>h.2</string>
      <string>hyphen.0</string>
      <string>hyphen.1</string>
      <string>hyphen.2</string>
      <string>i.0</string>
      <string>i.1</string>
      <string>i.2</string>
      <string>j.0</string>
      <string>j.1</string>
      <string>j.2</string>
      <string>k.0</string>
      <string>k.1</string>
      <string>k.2</string>
      <string>l.0</string>
      <string>l.1</string>
      <string>l.2</string>
      <string>less.0</string>
      <string>less.1</string>
      <string>less.2</string>
      <string>m.0</string>
      <string>m.1</string>
      <string>m.2</string>
      <string>n.0</string>
      <string>n.1</string>
      <string>n.2</string>
      <string>nine.0</string>
      <string>nine.1</string>
      <string>nine.2</string>
      <string>numbersign.0</string>
      <string>numbersign.1</string>
      <string>numbersign.2</string>
      <string>o.0</string>
      <string>o.1</string>
      <string>o.2</string>
      <string>one.0</string>
      <string>one.1</string>
      <string>one.2</string>
      <string>p.0</string>
      <string>p.1</string>
      <string>p.2</string>
      <string>parenleft.0</string>
      <string>parenleft.1</string>
      <string>parenleft.2</string>
      <string>parenright.0</string>
      <string>parenright.1</string>
      <string>parenright.2</string>
      <string>percent.0</string>
      <string>percent.1</string>
      <string>percent.2</string>
      <string>period.0</string>
      <string>period.1</string>
      <string>period.2</string>
      <string>plus.0</string>
      <string>plus.1</string>
      <string>plus.2</string>
      <string>q.0</string>
      <string>q.1</string>
      <string>q.2</string>
      <string>question.0</string>
      <string>question.1</string>
      <string>question.2</string>
      <string>quotedbl.0</string>
      <string>quotedbl.1</string>
      <string>quotedbl.2</string>
      <string>quotesingle.0</string>
      <string>quotesingle.1</string>
      <string>quotesingle.2</string>
      <string>r.0</string>
      <string>r.1</string>
      <string>r.2</string>
      <string>s.0</string>
      <string>s.1</string>
      <string>s.2</string>
      <string>semicolon.0</string>
      <string>semicolon.1</string>
      <string>semicolon.2</string>
      <string>seven.0</string>
      <string>seven.1</string>
      <string>seven.2</string>
      <string>six.0</string>
      <string>six.1</string>
      <string>six.2</string>
      <string>slash.0</string>
      <string>slash.1</string>
      <string>slash.2</string>
      <string>t.0</string>
      <string>t.1</string>
      <string>t.2</string>
      <string>three.0</string>
      <string>three.1</string>
      <string>three.2</string>
      <string>two.0</string>
      <string>two.1</string>
      <string>two.2</string>
      <string>u.0</string>
      <string>u.1</string>
      <string>u.2</string>
      <string>underscore.0</string>
      <string>underscore.1</string>
      <string>underscore.2</string>
      <string>uni0964.0</string>
      <string>uni0964.1</string>
      <string>uni0964.2</string>
      <string>uni0965.0</string>
      <string>uni0965.1</string>
      <string>uni0965.2</string>
      <string>uni0981.0</string>
      <string>uni0981.1</string>
      <string>uni0981.2</string>
      <string>uni0982.0</string>
      <string>uni0982.1</string>
      <string>uni0982.2</string>
      <string>uni0983.0</string>
      <string>uni0983.1</string>
      <string>uni0983.2</string>
      <string>uni0985.0</string>
      <string>uni0985.1</string>
      <string>uni0985.2</string>
      <string>uni0986.0</string>
      <string>uni0986.1</string>
      <string>uni0986.2</string>
      <string>uni0987.0</string>
      <string>uni0987.1</string>
      <string>uni0987.2</string>
      <string>uni0988.0</string>
      <string>uni0988.1</string>
      <string>uni0988.2</string>
      <string>uni0989.0</string>
      <string>uni0989.1</string>
      <string>uni0989.2</string>
      <string>uni098A.0</string>
      <string>uni098A.1</string>
      <string>uni098A.2</string>
      <string>uni098B.0</string>
      <string>uni098B.1</string>
      <string>uni098B.2</string>
      <string>uni098C.0</string>
      <string>uni098C.1</string>
      <string>uni098C.2</string>
      <string>uni098F.0</string>
      <string>uni098F.1</string>
      <string>uni098F.2</string>
      <string>uni0990.0</string>
      <string>uni0990.1</string>
      <string>uni0990.2</string>
      <string>uni0993.0</string>
      <string>uni0993.1</string>
      <string>uni0993.2</string>
      <string>uni0994.0</string>
      <string>uni0994.1</string>
      <string>uni0994.2</string>
      <string>uni0995.0</string>
      <string>uni0995.1</string>
      <string>uni0995.2</string>
      <string>uni0996.0</string>
      <string>uni0996.1</string>
      <string>uni0996.2</string>
      <string>uni0997.0</string>
      <string>uni0997.1</string>
      <string>uni0997.2</string>
      <string>uni0998.0</string>
      <string>uni0998.1</string>
      <string>uni0998.2</string>
      <string>uni0999.0</string>
      <string>uni0999.1</string>
      <string>uni0999.2</string>
      <string>uni099A.0</string>
      <string>uni099A.1</string>
      <string>uni099A.2</string>
      <string>uni099B.0</string>
      <string>uni099B.1</string>
      <string>uni099B.2</string>
      <string>uni099C.0</string>
      <string>uni099C.1</string>
      <string>uni099C.2</string>
      <string>uni099D.0</string>
      <string>uni099D.1</string>
      <string>uni099D.2</string>
      <string>uni099E.0</string>
      <string>uni099E.1</string>
      <string>uni099E.2</string>
      <string>uni099F.0</string>
      <string>uni099F.1</string>
      <string>uni099F.2</string>
      <string>uni09A0.0</string>
      <string>uni09A0.1</string>
      <string>uni09A0.2</string>
      <string>uni09A1.0</string>
      <string>uni09A1.1</string>
      <string>uni09A1.2</string>
      <string>uni09A2.0</string>
      <string>uni09A2.1</string>
      <string>uni09A2.2</string>
      <string>uni09A3.0</string>
      <string>uni09A3.1</string>
      <string>uni09A3.2</string>
      <string>uni09A4.0</string>
      <string>uni09A4.1</string>
      <string>uni09A4.2</string>
      <string>uni09A5.0</string>
      <string>uni09A5.1</string>
      <string>uni09A5.2</string>
      <string>uni09A6.0</string>
      <string>uni09A6.1</string>
      <string>uni09A6.2</string>
      <string>uni09A7.0</string>
      <string>uni09A7.1</string>
      <string>uni09A7.2</string>
      <string>uni09A8.0</string>
      <string>uni09A8.1</string>
      <string>uni09A8.2</string>
      <string>uni09AA.0</string>
      <string>uni09AA.1</string>
      <string>uni09AA.2</string>
      <string>uni09AB.0</string>
      <string>uni09AB.1</string>
      <string>uni09AB.2</string>
      <string>uni09AC.0</string>
      <string>uni09AC.1</string>
      <string>uni09AC.2</string>
      <string>uni09AD.0</string>
      <string>uni09AD.1</string>
      <string>uni09AD.2</string>
      <string>uni09AE.0</string>
      <string>uni09AE.1</string>
      <string>uni09AE.2</string>
      <string>uni09AF.0</string>
      <string>uni09AF.1</string>
      <string>uni09AF.2</string>
      <string>uni09B0.0</string>
      <string>uni09B0.1</string>
      <string>uni09B0.2</string>
      <string>uni09B2.0</string>
      <string>uni09B2.1</string>
      <string>uni09B2.2</string>
      <string>uni09B6.0</string>
      <string>uni09B6.1</string>
      <string>uni09B6.2</string>
      <string>uni09B7.0</string>
      <string>uni09B7.1</string>
      <string>uni09B7.2</string>
      <string>uni09B8.0</string>
      <string>uni09B8.1</string>
      <string>uni09B8.2</string>
      <string>uni09B9.0</string>
      <string>uni09B9.1</string>
      <string>uni09B9.2</string>
      <string>uni09BC.0</string>
      <string>uni09BC.1</string>
      <string>uni09BC.2</string>
      <string>uni09BD.0</string>
      <string>uni09BD.1</string>
      <string>uni09BD.2</string>
      <string>uni09BE.0</string>
      <string>uni09BE.1</string>
      <string>uni09BE.2</string>
      <string>uni09BF.0</string>
      <string>uni09BF.1</string>
      <string>uni09BF.2</string>
      <string>uni09C0.0</string>
      <string>uni09C0.1</string>
      <string>uni09C0.2</string>
      <string>uni09C1.0</string>
      <string>uni09C1.1</string>
      <string>uni09C1.2</string>
      <string>uni09C2.0</string>
      <string>uni09C2.1</string>
      <string>uni09C2.2</string>
      <string>uni09C3.0</string>
      <string>uni09C3.1</string>
      <string>uni09C3.2</string>
      <string>uni09C4.0</string>
      <string>uni09C4.1</string>
      <string>uni09C4.2</string>
      <string>uni09C7.0</string>
      <string>uni09C7.1</string>
      <string>uni09C7.2</string>
      <string>uni09C8.0</string>
      <string>uni09C8.1</string>
      <string>uni09C8.2</string>
      <string>uni09CB.0</string>
      <string>uni09CB.1</string>
      <string>uni09CB.2</string>
      <string>uni09CC.0</string>
      <string>uni09CC.1</string>
      <string>uni09CC.2</string>
      <string>uni09CD.0</string>
      <string>uni09CD.1</string>
      <string>uni09CD.2</string>
      <string>uni09CE.0</string>
      <string>uni09CE.1</string>
      <string>uni09CE.2</string>
      <string>uni09D7.0</string>
      <string>uni09D7.1</string>
      <string>uni09D7.2</string>
      <string>uni09DC.0</string>
      <string>uni09DC.1</string>
      <string>uni09DC.2</string>
      <string>uni09DD.0</string>
      <string>uni09DD.1</string>
      <string>uni09DD.2</string>
      <string>uni09DF.0</string>
      <string>uni09DF.1</string>
      <string>uni09DF.2</string>
      <string>uni09E6.0</string>
      <string>uni09E6.1</string>
      <string>uni09E6.2</string>
      <string>uni09E7.0</string>
      <string>uni09E7.1</string>
      <string>uni09E7.2</string>
      <string>uni09E8.0</string>
      <string>uni09E8.1</string>
      <string>uni09E8.2</string>
      <string>uni09E9.0</string>
      <string>uni09E9.1</string>
      <string>uni09E9.2</string>
      <string>uni09EA.0</string>
      <string>uni09EA.1</string>
      <string>uni09EA.2</string>
      <string>uni09EB.0</string>
      <string>uni09EB.1</string>
      <string>uni09EB.2</string>
      <string>uni09EC.0</string>
      <string>uni09EC.1</string>
      <string>uni09EC.2</string>
      <string>uni09ED.0</string>
      <string>uni09ED.1</string>
      <string>uni09ED.2</string>
      <string>uni09EE.0</string>
      <string>uni09EE.1</string>
      <string>uni09EE.2</string>
      <string>uni09EF.0</string>
      <string>uni09EF.1</string>
      <string>uni09EF.2</string>
      <string>uni09F0.0</string>
      <string>uni09F0.1</string>
      <string>uni09F0.2</string>
      <string>uni09F1.0</string>
      <string>uni09F1.1</string>
      <string>uni09F1.2</string>
      <string>v.0</string>
      <string>v.1</string>
      <string>v.2</string>
      <string>w.0</string>
      <string>w.1</string>
      <string>w.2</string>
      <string>x.0</string>
      <string>x.1</string>
      <string>x.2</string>
      <string>y.0</string>
      <string>y.1</string>
      <string>y.2</string>
      <string>z.0</string>
      <string>z.1</string>
      <string>z.2</string>
      <string>zero.0</string>
      <string>zero.1</string>
      <string>zero.2</string>
    </array>
    <key>public.openTypeHeadModified</key>
    <string>2024/12/30 16:45:59</string>
    <key>public.openTypePostUnderlinePosition</key>
    <integer>-76</integer>
    <key>public.truetype.instructions</key>
    <dict>
      <key>formatVersion</key>
      <string>1</string>
      <key>maxFunctionDefs</key>
      <integer>1</integer>
      <key>maxInstructionDefs</key>
      <integer>0</integer>
      <key>maxStackElements</key>
      <integer>64</integer>
      <key>maxStorage</key>
      <integer>1</integer>
      <key>maxTwilightPoints</key>
      <integer>0</integer>
      <key>maxZones</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
