<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.openTypeHeadModified</key>
    <string>2024/12/11 16:11:52</string>
    <key>public.openTypePostUnderlinePosition</key>
    <integer>-76</integer>
  </dict>
</plist>
